In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
df = pd.read_csv("desktop/work11.csv")

In [2]:
df.head()

,Location,Maker,Model,Year,Colour,Amount (Million ₦),Type,Distance_Km
0,Abuja,Mercedes-Benz,GLA 250,2015,Brown,14.50,Foreign Used,50000.0
1,Abuja,Hyundai,Accent,2013,Red,1.55,Nigerian Used,NaN
2,Lagos,Lexus,GX 460 Premium,2011,White,14.00,Foreign Used,85000.0
3,Lagos,Lexus,ES 350,2011,Gray,4.95,Foreign Used,NaN
4,Ibadan,Toyota,Verso 1.6,2009,Silver,1.69,Nigerian Used,118906.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4487 entries, 0 to 4486
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Location            4487 non-null   object
 1   Maker               4487 non-null   object
 2   Model               4487 non-null   object
 3   Year                4487 non-null   int64
 4   Colour              4487 non-null   object
 5   Amount (Million ₦)  4487 non-null   float64
 6   Type                4487 non-null   object
 7   Distance_Km         2932 non-null   float64
dtypes: float64(2), int64(1), object(5)
memory usage: 280.6+ KB

In [4]:
df.shape

(4487, 8)

In [5]:
df.dtypes

Location               object
Maker                  object
Model                  object
Year                    int64
Colour                 object
Amount (Million ₦)    float64
Type                   object
Distance_Km           float64
dtype: object

In [6]:
df.describe()

              Year  Amount (Million ₦)   Distance_Km
count  4487.000000         4487.000000  2.932000e+03
mean   2011.095610           11.309795  1.010383e+05
std       4.823362           20.585915  1.150914e+05
min    1982.000000            0.420000  1.000000e+00
25%    2008.000000            3.600000  5.237850e+04
50%    2011.000000            5.700000  7.900000e+04
75%    2014.000000           12.000000  1.099392e+05
max    2022.000000          454.000000  1.785448e+06

In [7]:
df.isnull().sum()

Location                 0
Maker                    0
Model                    0
Year                     0
Colour                   0
Amount (Million ₦)       0
Type                     0
Distance_Km           1555
dtype: int64

In [20]:
dist=df["Distance_Km"].mean(axis=0)
df["Distance_Km"].fillna(dist,inplace=True)

In [30]:
df.head()

,Location,Maker,Model,Year,Colour,Amount (Million ₦),Type,Distance_Km
0,0,23,51,2015,5,14.50,1,50000.000000
1,0,32,716,2013,16,1.55,2,101038.321282
2,2,40,88,2011,2,14.00,1,85000.000000
3,2,40,357,2011,8,4.95,1,101038.321282
4,1,20,783,2009,17,1.69,2,118906.000000

In [22]:
categorical_cols=df.select_dtypes(include="object")
categorical_cols.head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [23]:
from sklearn.preprocessing import LabelEncoder
cols= ["Maker","Model","Colour","Type","Location"]
for i in cols:
    le= LabelEncoder()
    df[i]= le.fit_transform(df[i].astype(str))

In [69]:
#cols_to_drop= ["Location","Distance_Km"]
#df.drop(cols_to_drop, 1, inplace= True)

In [36]:
y = df["Amount (Million ₦)"]
x = df.drop("Amount (Million ₦)",axis=1)

In [37]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [38]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(x_train, y_train)

LinearRegression()

In [39]:
reg.predict(x_test)

array([16.40384075, 12.34252796,  2.24768801, ..., 25.13353702,
       16.51229825, 26.1046661 ])

In [40]:
df.head()

,Location,Maker,Model,Year,Colour,Amount (Million ₦),Type,Distance_Km
0,0,23,51,2015,5,14.50,1,50000.000000
1,0,32,716,2013,16,1.55,2,101038.321282
2,2,40,88,2011,2,14.00,1,85000.000000
3,2,40,357,2011,8,4.95,1,101038.321282
4,1,20,783,2009,17,1.69,2,118906.000000

In [42]:
from sklearn.metrics import mean_absolute_error
y_pred = reg.predict(x_test)
print("good",mean_absolute_error(y_test,y_pred))

good 7.616736398152681

In [43]:
from sklearn.tree import DecisionTreeRegressor

dt_reg = DecisionTreeRegressor()
dt_reg.fit(x_train, y_train)
y_pred = dt_reg.predict(x_test)
print("good",mean_absolute_error(y_test,y_pred))

good 3.5471710517198716

In [48]:
from sklearn.svm import SVR

sv_reg = SVR()
sv_reg.fit(x_train, y_train)
y_pred = sv_reg.predict(x_test)
print("good",mean_absolute_error(y_test,y_pred))

good 6.535124829376945

In [52]:
y_pred

array([12.46455425,  4.84961912,  6.32953177, ...,  4.84235382,
        4.70732613, 15.09242317])

In [53]:
print(y_pred)

[12.46455425  4.84961912  6.32953177 ...  4.84235382  4.70732613
 15.09242317]

In [54]:
df

,Location,Maker,Model,Year,Colour,Amount (Million ₦),Type,Distance_Km
0,0,23,51,2015,5,14.50,1,50000.000000
1,0,32,716,2013,16,1.55,2,101038.321282
2,2,40,88,2011,2,14.00,1,85000.000000
3,2,40,357,2011,8,4.95,1,101038.321282
4,1,20,783,2009,17,1.69,2,118906.000000
...,...,...,...,...,...,...,...,...
4482,2,40,500,2006,4,4.60,1,90282.000000
4483,2,40,357,2007,4,4.50,1,85000.000000
4484,0,23,168,2014,9,10.45,1,65214.000000
4485,2,40,87,2020,1,31.00,1,45000.000000
4486,2,40,535,2015,17,14.00,1,55000.000000